.details {
  height: 100vh;
  width: 100%;
  background-position: 'center';
  background-repeat: 'no-repeat';
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.movie-info {
  height: 90vh;
  width: 40vw;
  margin-right: 40px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  background-color: transparent;
}

iframe {
  display: flex;
  margin-bottom: 90px;
}

.arrow{
  background: none;
  border: none;
  display: flex;
  margin-left: 60px;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom: 90vh;
  cursor: pointer;
  bottom: 40vh;
  fill: white;
}

.arrow::hover {
  color:chartreuse;
}

.detail-title,
.detail-rating,
.detail-overview {
  margin-top: 0px;
}

.detail-overview {
  margin-bottom: 40px;
  text-align:right;
}