.poster {
  height: 450px;
  width: 250px;
  display: flex;
  flex-direction: column;
  color:white;
  cursor: pointer;
  padding: 25px;
  transition-duration: 0.5s;
}

.poster:hover {
  transform: scale(1.1);
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
